
    @if (Request.Cookies["Menber"] != null)
    {
        using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink(Request.Cookies["Menber"].Values["userNick"] == null ? "用户名" : Request.Cookies["Menber"].Values["userNick"].ToString(), "Info", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">注销</a></li>
            </ul>
        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("注册", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("登录", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }
<ul class="nav navbar-nav navbar-right">
    <li>
        @{Html.BeginForm("Search", "Home", FormMethod.Post);}
            @Html.TextBox("searchText")
            <input type="submit" value="搜索" />
        @{ Html.EndForm();}
    </li>
</ul>
