@using VoteSystem.Models
@model IndexModel
@{
    ViewBag.Title = "Home Page";
    
}

<div class="jumbotron">
    <h1>标题</h1>
    <p class="lead">网页描述</p>
    <p><a href="/pages/PubQuestion" class="btn btn-primary btn-lg">发布问题 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li class="active">问题</li>
            <li>排行榜</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                排序方式
            </div>
            <div class="col-md-12">
                @Html.RadioButton("sortby","startTime",true) 开始时间<br>
                @Html.RadioButton("sortby", "endTime") 结束时间<br>
                @Html.RadioButton("sortby", "predict") 预测人数<br>
            </div>
            <hr />
            <div class="col-md-12">
                标签
            </div>
            <div class="col-md-12">
                @foreach (Tag t in Model.tags)
                {
                    @Html.CheckBox("ck"+t.ID) @t.tagName<br>
                }
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-6">
                <h2>问题</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="/pages/vote">vote &raquo;</a></p>
            </div>
            <div class="col-md-6">
                <h2>问题</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="">vote &raquo;</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>问题</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="">vote &raquo;</a></p>
            </div>
            <div class="col-md-6">
                <h2>问题</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="">vote &raquo;</a></p>
            </div>
        </div>
    </div>
</div>