@using VoteSystem.Models
@model InfoModel
@{
    ViewBag.Title = "Info";
}

<h2>Info</h2>
<div class="row">
    <div class="col-md-2 well">
        <ul>
            <li>
                @Html.ActionLink("个人信息", "Info", "Account")
            </li>
            <li>
                @Html.ActionLink("修改密码", "ResetPsw", "Account")
            </li>
        </ul>
    </div>
    <div class="col-md-10 well">
        @{Html.BeginForm("Info", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post);}
        @Html.HiddenFor(m => m.ID)
        @Html.LabelFor(m => m.userNick, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.userNick, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.userNick, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(m => m.userDes, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.userDes, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.userDes, "", new { @class = "text-danger" })
        </div>
        
        <input type="submit" value="提交修改 "/>
        @{Html.EndForm();}
        @ViewBag.res
        <div>预测题目数：@Model.pridectNum</div>
        <div>发布题目数：@Model.postNum</div>
        <div>中位数：@Model.middleNum</div>
        <div>布雷尔分数：@Model.brierNum</div>
        <div>预测正确数：@Model.rightNum</div>
        <div>收到赞数：@Model.upvoteNum</div>
    </div>

</div>
